* ,html,body
{ 
   margin: 0;
   padding: 0;
}

body
{
    height: auto;
}

header
{
    
    height: 112px;
    line-height: 112px;
    position: fixed;
    z-index: 1;
    width: 100%;
}



.secondary
{
    background-color: #262626;
    opacity: 0.9;
    box-shadow: 0px 0px 17px 0px;
    transition: all 1s ease-in;
}
ul 
{
    list-style: none;
}

ul li
{
    display: inline-block;
}

header nav
{
    float: right;
}

.logo img
{  
    width: 90px;
    height: 90px;
    float: left;
    margin-top: 30px;
    size: 20px;
}

header nav ul li a
{
padding-right: 30px;
font-size: 16px;
font-weight: bold;
color:white;
transition: all 0.5s ease-in;
}







.img1 
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/static/cloudy.jpg);
    background-size: 100% 100%;
}


.btn{
    background-color:rgb(41, 124, 63, 0.888);
    color: white;
}

ul.dropdown-menu
{
    background-color: whitesmoke;
    min-width: 80px;
    border-radius: 10px;
    
    
}


.slider,.slider ul,.slider ul li
{
    height: 710px;
    width: 100%;
    color: white;
    text-align: center;

}

.slider h2 
{
    font-weight: bold;
    margin-top: 270px;
}

.slider span{
    color: rgb(41, 124, 63);
}

.slider a
{
    padding: 10px 40 px;
    margin-right: 10px;
}


.slider a.btn-full 
{
    background-color: rgb(41, 124, 63); 
    color: white;
    transition: 0.5s ease-in;
}
.slider a.btn-full:hover{
    background-color: #276544;
}




.card .title
{   
    
    color: grey;
}
.img3
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/app/static/covjek.jpg);
    background-size: 100% 100%;
}

slider i 
{
    font-size: 35px;
    margin-right: 10px;
} 


.intro-area
{
    position: relative;
    padding: 100px 0px;
    text-align: center;
}

.container .row2
{
    background-color: whitesmoke;
    border-radius: 5px;
}
.body2
{   
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0.3)), url(/static/adventure.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.sub-heading
{
    position: relative;
    margin-bottom: 75px;
}

.sub-heading:before
{
    content:"";
    position: absolute;
    top: 100%;
    left: 40%;
    margin-left: -3%;
    width: 6%;
    height: 1px;
    background-color: rgb(41, 124, 63);
    z-index: 1;
   -webkit-transition: 0.3s ease;
   -moz-transition: 0.3s ease;
   -ms-transition: 0.3s ease;
   -o-transition: 0.3s ease;
   transition: 0.3s ease;
}


.sub-heading:hover:before
{
    width: 24%;
    margin-left: -12px;
}

.sub-heading:after
{
    content: "";
      position: absolute;
      top:100%;
      left:50%;
      margin-left:-12%;
      width: 24%;
      height: 1px;
      background-color: #e1e1e1;

}

.sub-heading p
{
    color: #818181;
    display: inline-block;
    padding: 0px 0px 20px;
    position: relative;
    line-height: 24px;
    letter-spacing: 0.025em;
}

.intro-block
{   
    
    position: relative;
    background-color: #f7f7f7;
    margin: 50px 0px 0px;
    text-align: center;
    padding: 70px 25px 40px;
    opacity: 0.9;
 

}

.intro-block .slike
{
    
    width: 243.328px;
    height: 162.734px;
}

.intro-block img
{
    max-width: 100%;
    max-height: auto;
}

.intro-block:hover, .intro-block.active
{
       background: rgb(41, 124, 63);

}

.intro-block:hover
{
    transition: .6s ease;
    -webkit-transition: .6s ease;
    -moz-transition: .6s ease;
    -o-transition: .6s ease;
    -ms-transition: .6s ease;
   
}

.intro-block .intro-icon
{
    position: absolute;
    top: -31px;
    left: 50%;
    margin-left: -31px;

}

.intro-block .fa 
{
    
    width: 30px;
    height: 30px;
    font-size: 15px;
    color: white;
    line-height: 2;
    background: rgb(41, 124, 63);
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px #CCEEF9;
}


.intro-block:hover .fa, .intro-block.active .fa
{
    background: white;
    color: orangered;
    box-shadow: 0px 0px 0px 10px brown ;
}

.intro-block h3
{
    font-size: 18px;
    color:  rgb(41, 124, 63);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.intro-block p
{
    color: #505050;
}

.intro-block:hover h3, .intro-block:hover p
{
    color: #f6f6f6;
}

.feature-area
{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0.3)), url(/static/travelmap.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;

    
}

.title h2,p
{
    color: white;
}

.single-feature h3
{
    color: white;
}

.single-feature
{
    position: relative;
    width: 325px;
    float: left;
    padding: 30px 0;
    text-align:center;
    border-right: 1px solid #68cbe9;
    border-bottom: 1px solid #65c8e5;
    transition: 0.3s ease-in;
   -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;

}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
 .feature-area .container .container2 {
     margin-left: 20%;
     margin-right: 20%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

.dropdown .bgzelena:hover {
    background-color: #45a049 !important;
}

 

.feature-block:after
{
    content: "";
    display: table;
}

.feature-block:after
{
    clear: both;
}

.feature-icon
{
    display: inline-block;
    margin-bottom: 20px;
}

.single-feature i.fa
{
    border: 2px solid #fff;
    padding: 15px;
    border-radius: 50%;
    font-size: 30px;
    background-color: #00a7dd;
    color: white;
    width: 64px;
    height: 64px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
}

.feature-block:hover.single-feature
{
    border-color:white;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    
}

.single-feature:hover .featured-icon .fa
{
    border: 2px solid #00e7dd;
    background: white;
    color: deepskyblue;
}

.single-feature:nth-of-type(even)
{
    border-right: none;
}

.single-feature:nth-last-child(2)
{
    border-bottom: none;
}

.single-feature:last-child
{
    border-bottom: none;
}

.feature-area
{
    padding: 100px 0;
}

.feature-mockup
{
    bottom: -225px;
    position: relative;
}

.title .sub-heading p
{
    color: white;
}

.more-feature-area .title h2
{
    color: black;
}

.more-feature-area .title .sub-heading p
{
    color: grey;
}

.more-feature-area
{
    padding: 100px 0;
}

.feature-list ul
{
    list-style: none;

}

.feature-list li
{
    position: relative;
    margin-bottom: 30px;
    padding-left: 80px;
}

.feature-list li:hover i
{
    color: white;
    background-color: #00a7dd;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
}

.feature-icon 
{
    position: absolute;
    left: 0;  
}

.feature-icon i 
{
    width: 63px;
    height: 63px;
    text-align: center;
    font-size: 30px;
    background: white;
    color: deepskyblue;
    border-radius: 50%;
    border: 2px solid deepskyblue;
    line-height: 63px;
}

.feature-details h3 
{
    color: deepskyblue;
    font-weight: 700;
    text-transform: uppercase;
}

.feature-details p
{
    color:#616161;
    font-weight: 200;
}

.more-feature-area img
{
    margin-left: 70px;
}

.testimonials
{
    background: url(/static/default1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 120px;
    padding-bottom: 120px;
    color:black;
    margin-top: -120px;
}

.testimonials .carousel-indicators
{
    bottom: -60px;
}

.testimonials .sub-heading p
{
    color:black;
}

.carousel-inner img 
{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 2px solid deepskyblue;
    padding: 5px;
}

.testimonials .carousel-indicators li.active
{
    background-color: deepskyblue;
}

.team-area
{
    padding: 100px 0px;
}

.team-area .container .row .col-sm-12 h2 span{
    color: rgba(8, 8, 8, 0.777);
}
.team-area .sub-heading
{
    margin-bottom: 100px;
}

.team-man
{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50px;
    overflow: hidden;
    min-height: 100px;
    height: 100px;
    width: 100px;
    min-width: 100px;
    border: 10px solid deepskyblue;
    border-radius: 50%;

}

.team-man img
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    border-radius: 50%;
}

.team-man h3
{
    color: deepskyblue;
    font-size: 20px;
    font-weight: 700;
}



  /* Three columns side by side */
.team-area .container .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 15px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .team-area .container .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
  }
  
  /* Some left and right padding inside the container */
  .team-area .container.container3 {
    padding: 0 16px;
  }
  
  /* Clear floats */
 .team-area .container .container3::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .team-area .container .container3 h2 {
    color: rgb(136, 126, 126);
    text-align: center;
  }
  .team-area .container .container3 p {
    color: rgb(65, 62, 62);
    text-align: center;
  }
  
  .team-area .container .container3 .title {
    color: rgb(31, 30, 30);
    text-align: center;
  }
  
  .team-area .container .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(41, 124, 63); /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, rgb(41, 124, 63) , #74be87);
    text-align: center;
    cursor: pointer;
    width: 100%;
  }


  .intro-block .button2 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-image: linear-gradient(to right, rgb(41, 124, 63) , #74be87);
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

  .intro-block .button2:hover
  {
      background-color: brown;
  }
  
  .team-area .container .button:hover {
    background-color: #555;
  }
 
  
footer{
	padding:20px;
	margin-top: 20px;
	color: #ffffff;
	background-color: #297c3f;
	text-align: center;

}

.column .card:hover, .column .card:active
{
    background: #dbdbdb;
    color: #383838
}


.card7 {
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    max-width: 33%;
    max-height: 33%;
   margin-left: 500px;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }

  .img 
  {
      margin-top: 160px;
      width: 100%;
      height: auto;
     
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: grey;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
/* Ovo je show more button za trips */
.intro-area .container .button
{   
    margin-top: 33px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-image: linear-gradient(to right, rgb(41, 124, 63) , #74be87);
    text-align: center;
    cursor: pointer;
    width: 31%;
}

.intro-area .container .button3
{
    
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-image: linear-gradient(to right, rgb(41, 124, 63) , #74be87);
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.intro-area .container .button3:hover
{
    background-color: brown;
}


/* Style all font awesome icons */
footer .fa {
    padding: right;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  footer .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  footer .fa-facebook {
    background: darkgray;
    color: white;
  }
  
  /* Twitter */
 footer .fa-twitter {
    background: darkgray;
    color: white;
  }

  footer .fa-instagram
  {
      background: darkgray;
      color: white;
  }

header nav ul li a:hover
{
    text-decoration: none;
   
    color:rgb(92, 218, 125);
    
    text-shadow: 2px 2px 4px #000000;
}
