<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Homepage</title>
    {% endif %}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
  
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="/static/caroufredsel.js"type="text/JavaScript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body class="body2"  >  
     
        <header>
                <div class="container" onclick="myFunction(this)"> 
                    <div class="row">
                        <a href="" class="logo"><img src="../static/airplane.png"></a>
                        <nav>
                            <ul>
                                <li><a href="{{ url_for('homepage') }} ">Home</a></li> 
                                <li><a href="{{ url_for('homepage') }}#intro">Popular</a></li> 
                                 <li><a href="{{ url_for('homepage') }}#feature">Contacts</a></li> 
                                 <li><a href="{{ url_for('homepage') }}#team">About Us</a></li> 
                                 <li><a style="color: rgb(41, 192, 81)" href="{{ url_for('izleti') }}">Add Trip</a></li>
                                 <li><div class="dropdown">
                                    <button class="btn btn dropdown-toggle" type="button" data-toggle="dropdown">{{ current_user.username }}
                                    <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                      <li><a href="{{ url_for('profile', username=current_user.username) }}">Profile</a></li>
                                      <li><a href="{{ url_for('logout') }}">Logout</a></li>
                                    </ul>
                                </div>
                            
                                  <!-- <a href="{{ url_for('logout') }}">{{ current_user.username }}</a> -->
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>


    
    <div class="card7">
        <img class="img" src="/static/izlet_pics/{{ izlet.image_file }}" alt="">
        <p class="title">Naziv:</p>
        
        {{ izlet.naziv }}
        <p style="color:grey">Destinacija:</p>
        {{ izlet.destinacija }}
        <p style="color:grey">Cijena:</p>
        {{ izlet.cijena }}
        <p style="color:grey">Polazak:</p>
        {{ izlet.polazak }}
        <p style="color:grey">Dolazak:</p>
        {{ izlet.dolazak }}
        <p style="color:grey">Opis:</p>
        {{ izlet.opis }}
        <br>
        <p><button>Show More</button></p>

    </div>
  
    <footer> 
            <p>Travel-Hr Desing,Copyright &copy; 2019</p>
            <!-- Add font awesome icons -->
            <p>Follow Us!</p>
            <img src="/static/logofb.png">     
            <img src="/static/logoig.png"> 
            <img src="/static/logofb.png">     
            <img src="/static/logoig.png">       
        </footer>
        <script src="/static/main.js" type="text/javascript"></script>
        
</body>
</html>