<!DOCTYPE html>

    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Homepage</title>
        {% endif %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="../static/css/style.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <!-- jQuery library -->
      
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="/static/caroufredsel.js"type="text/JavaScript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>

        <header>
            <div class="container">
                <div class="row">
                    <a href="" class="logo"><img src="/static/airplane.png"></a>
                    <nav>
                        <ul>
                            <li><a href="#slider-carousel">Home</a></li>
                            <li><a href="#intro">Trips</a></li>
                            <li><a href="#feature">Contacts</a></li>
                            <li><a href="#team">About Us</a></li>
                            <li><a style="color: rgb(93, 189, 118)" href="{{ url_for('izleti') }}">Add Trip</a></li>
                            <li><div class="dropdown">
                                <button style="font-style: bold !important" class="btn btn dropdown-toggle" type="button" data-toggle="dropdown">{{ current_user.username }}
                                <span class="caret"></span></button>
                                <ul style="line-height:1rem; text-align: center;" class="dropdown-menu">
                                  <li><a href="{{ url_for('profile', username=current_user.username) }}">Profile</a></li>
                                  <li><a href="{{ url_for('logout') }}">Logout</a></li>
                                </ul>
                            </div>
                         
                              <!-- <a href="{{ url_for('logout') }}">{{ current_user.username }}</a> -->
                            </li>
                            
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <section class="slider">
            <ul class="slider-carousel" id="slider-carousel"> 
                <li class="img1">
                   <h2 style="font-family:lobster; font-size:50px;">Welcome <span>World</span></h2> 
                   <p>Welcome to our traveling page!</p>  
                   <i class="fas fa-heart"></i>
                   <i class="fas fa-car"></i>
                   <i class="fas fa-heart"></i> 
                   <p><br>
                       We love to travel around the world!
                       Join us now!
                       we offer great trips,<br> awesome advantures, good times as well as great prices and many more... 
                   </p><br>
        </section>
     

        <section class="intro-area white" id="intro">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2 style="font-family:lobster; font-size:50px;">Popular <span>Places</span></h2> 
                        <div class="sub-heading">
                            <p style="font-size: 16px;">
                               <br> Here you can see some of our latest trips.<br>    
                                 By clicking on picture you’ll be redirected on trip site where you can join trip with other participants.

                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                   
                  <div class="col-sm-4">

                    <div class="intro-block" style="box-shadow: 1px 1px 18px #888888;">
                       <img src="/static/izlet_pics/{{ izlet1.image_file }}">
                       <i class="fa fa-star"></i></span>
                       <i class="fa fa-star"></i></span>
                       <i class="fa fa-star"></i></span>
                       <h3>{{ izlet1.destinacija }}</h3>
                       <p>
                               {{ izlet1.opis }}
                       </p>
                       <p><a href="{{ url_for('detalji', tripid=izlet1.id_izlet) }}"><button class="button2">Show More</button></a></p>
                    </div>
                </div>
            
                
             <div class="col-sm-4">
                <div class="intro-block" style="box-shadow: 1px 1px 18px #888888;">
                   <img src="/static/izlet_pics/{{ izlet2.image_file }}">
                   <i class="fa fa-star"></i></span>
                   <i class="fa fa-star"></i></span>
                   <i class="fa fa-star"></i></span>
                   <h3>{{ izlet2.destinacija }}</h3>
                   <p>
                           {{ izlet2.opis }}
                   </p>
                   <p><a href="{{ url_for('detalji', tripid=izlet2.id_izlet) }}"><button class="button2">Show More</button></a></p>
                </div>
            </div>

            
            <div class="col-sm-4">
                <div class="intro-block" style="box-shadow: 1px 1px 18px #888888;">
                    <img src="/static/izlet_pics/{{ izlet3.image_file }}">
                   <i class="fa fa-star"></i></span>
                   <i class="fa fa-star"></i></span>
                   <i class="fa fa-star"></i></span>
                   <h3>{{ izlet3.destinacija }}</h3>
                   <p>
                           {{ izlet3.opis }}
                   </p>
                   <p><a href="{{ url_for('detalji', tripid=izlet3.id_izlet) }}"><button class="button2">Show More</button></a></p>
                </div>
            </div> 

                            
                </div>

              
                <a href="{{ url_for('trips') }}"><button style="margin-top: 50px">Show All</button></a>
                
                

            </div>

        </section>
        
        <section class="feature-area" id="feature">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="title">
                            <h2 style="font-family:lobster; font-size:50px;">Contatcts</h2> 
                                        <div class="sub-heading">
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetings<br>
                                                industry.Lorem Ipsum hes been idustry's standard dummy
                
                                            </p>
                                        </div>
                        </div>
                     </div>

                  </div>


                  <!--Form Table-->
                  <div class="container2">
                    <form action="action_page.php">
                  
                      <label for="fname">First Name</label>
                      <input type="text" id="fname" name="firstname" placeholder="Your name..">
                  
                      <label for="lname">Last Name</label>
                      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                  
                      <label for="country">Country</label>
                      <select id="country" name="country">
                        <option value="australia">Australia</option>
                        <option value="canada">Canada</option>
                        <option value="usa">USA</option>
                      </select>
                  
                      <label for="subject">Subject</label>
                      <textarea id="subject" name="subject" placeholder="Write something.." style="height:120px"></textarea>
                  
                      <input type="submit" value="Submit">
                  
                    </form>
                  </div>
                 
                   
                </div>
           
        </section>

        <!--About Us-->
        <section class="team-area" id="team">
            <div class="container">
                <div class="row">
                     <div class="col-sm-12 text-center">
                        <h2 style="font-family:lobster; font-size:50px; color: rgb(41, 124, 63);">About <span>Us</span></h2>
                             <div class="sub-heading">
                                    <p>
                                        This are our best clienets who used our app and traveled along with us
                                    </p>
                            </div>
                     </div>
                </div>
            

                <!--About us kartice sa slikama-->
                <div class="row">
                    <div class="column">
                      <div class="card">
                        <img src="static/default1.jpg" alt="Jane" style="width:100%">
                        <div class="container3">
                          <h2>Jane Doe</h2>
                          <p class="title">CEO &amp; Founder</p>
                          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                          <p>example@example.com</p>
                          <p><button class="button">Contact</button></p>
                        </div>
                      </div>
                    </div>
                  
                    <div class="column">
                      <div class="card">
                        <img src="static/default2.jpg" alt="Mike" style="width:100%">
                        <div class="container3">
                          <h2>Mike Ross</h2>
                          <p class="title">Art Director</p>
                          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                          <p>example@example.com</p>
                          <p><button class="button">Contact</button></p>
                        </div>
                      </div>
                    </div>
                  
                    <div class="column">
                      <div class="card">
                        <img src="static/default3.jpg" alt="John" style="width:100%">
                        <div class="container3">
                          <h2>John Doe</h2>
                          <p class="title">Designer</p>
                          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                          <p>example@example.com</p>
                          <p><button class="button">Contact</button></p>
                        </div>
                         </div>
                    </div>

             </div>

            </div>
        </section>

        <footer>
            <p>Travel-Hr Desing,Copyright &copy; 2019</p>
            <!-- Add font awesome icons -->
            <p>Follow Us!</p>
            <img src="static/logofb.png">     
            <img src="static/logoig.png"> 
            <img src="static/logofb.png">     
            <img src="static/logoig.png">       

        </footer>
        <script src="static/main.js" type="text/javascript"></script>
    </body>
</html>