<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title></title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

	<!--     Fonts and icons     -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">

	<!-- CSS Files -->
    <link rel="stylesheet" href="../static/css/gsdk-bootstrap-wizard.css">
    <link rel="stylesheet" href="../static/css/demo.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    
    

	<!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container" onclick="myFunction(this)"> 
            <div class="row">
                <a href="" class="logo"><img src="../static/airplane.png"></a>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('homepage') }} ">Home</a></li> 
                        <li><a href="{{ url_for('homepage') }}#intro">Popular</a></li> 
                         <li><a href="{{ url_for('homepage') }}#feature">Contacts</a></li> 
                         <li><a href="{{ url_for('homepage') }}#team">About Us</a></li> 
                         <li><a style="color: rgb(41, 192, 81)" href="{{ url_for('izleti') }}">Add Trip</a></li>
                         <li><div class="dropdown">
                            <button class="btn btn dropdown-toggle bgzelena" type="button" data-toggle="dropdown">{{ current_user.username }}
                            <span class="caret"></span></button>
                            <ul style="line-height:1rem; text-align: center;" class="dropdown-menu">
                              <li><a href="{{ url_for('profile', username=current_user.username) }}">Profile</a></li>
                              <li><a href="{{ url_for('logout') }}">Logout</a></li>
                            </ul>
                        </div>
                    
                          <!-- <a href="{{ url_for('logout') }}">{{ current_user.username }}</a> -->
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    
            <section class="slider" style="background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../static/prof.jpg')">
                <ul class="slider-carousel" id="slider-carousel"> 
                    <li class="img2">
                       <h2 style="font-family:lobster; font-size:50px;">Welcome to your <span>profile<br> page!</span></h2> 
                       <p><br>Welcome to your profile page!</p>  
                       <br>
                       <p><br>
                           We love to travel around the world!
                           Join us now!
                           we offer great trips,<br> awesome advantures, good times as well as great prices and many more... 
                       </p><br>
                       <img src="../static/down.png">
            </section>


	<!--  Made With Get Shit Done Kit  -->
		

    <!--   Big container   -->
    <div class="container">
        <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

            <!--      Wizard container        -->
            <div class="wizard-container">

                <div class="card wizard-card" data-color="orange" id="wizardProfile">
                    <form action="" method="">
                <!--        You can switch ' data-color="orange" '  with one of the next bright colors: "blue", "green", "orange", "red"          -->

                    	<div class="wizard-header">
                        	<h3 style="font-family:Lobster;font-size: 40px; color:#464646">
                        	   <b>Build</b> your profile <br>
                        	   <small style="font-family: Arial, Helvetica, sans-serif; color:#303030;font-size: 15px;">This information will let us know more about you.</small>
                        	</h3>
                    	</div><br><br>

						<div class="wizard-navigation">
                            <ul>
	                            <li><a href="#about" data-toggle="tab">About</a></li>
	                            <li><a href="#account" data-toggle="tab">My Trips</a></li>
	                            <li><a href="#address" data-toggle="tab">Address</a></li>
	                        </ul>
						</div>

                        <div class="tab-content">
                            <div class="tab-pane" id="about">
                              <div class="row">
                                <br><br> <h4 class="info-text"> Let's start with the basic information (with validation)</h4><br><br>
                                  <div class="col-sm-4 col-sm-offset-1">
                                     <div class="picture-container">
                                          <div class="picture">
                                              <img src="assets/img/avatar.png" class="picture-src" id="wizardPicturePreview" title=""/>
                                              <input type="file" id="wizard-picture">
                                          </div>
                                          <h6>Choose Picture</h6>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                        <label>First Name <small>(required)</small></label>
                                        <input name="firstname" type="text" class="form-control" placeholder="Andrew...">
                                      </div>
                                      <div class="form-group">
                                        <label>Last Name <small>(required)</small></label>
                                        <input name="lastname" type="text" class="form-control" placeholder="Smith...">
                                      </div>
                                  </div>
                                  <div class="col-sm-10 col-sm-offset-1">
                                      <div class="form-group"><br>
                                          <label>Email <small>(required)</small></label>
                                          <input name="email" type="email" class="form-control" placeholder="andrew@creative-tim.com">
                                      </div>
                                  </div>
                              </div>
                            </div>
                            <div class="tab-pane" id="account">
                                <h4 class="info-text"> My trips (checkboxes) </h4>
                                <div class="row">

                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="col-sm-4">
                                            <div class="choice" data-toggle="wizard-checkbox">
                                                <input type="checkbox" name="jobb" value="Design">
                                                <div class="icon">
                                                    <i class="fa fa-tree"></i>
                                                </div>
                                                <h6>Trip 1</h6>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="choice" data-toggle="wizard-checkbox">
                                                <input type="checkbox" name="jobb" value="Code">
                                                <div class="icon">
                                                    <i class="fa fa-suitcase"></i>
                                                </div>
                                                <h6>Trip 2</h6>
                                            </div>

                                        </div>
                                        <div class="col-sm-4">
                                            <div class="choice" data-toggle="wizard-checkbox">
                                                <input type="checkbox" name="jobb" value="Develop">
                                                <div class="icon">
                                                    <i class="fa fa-plane"></i>
                                                </div>
                                                <h6>Trip 3</h6>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane" id="address">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4 class="info-text"> Are you living in a nice area? </h4>
                                    </div>
                                    <div class="col-sm-7 col-sm-offset-1">
                                         <div class="form-group">
                                            <label>Street Name</label>
                                            <input type="text" class="form-control" placeholder="5h Avenue">
                                          </div>
                                    </div>
                                    <div class="col-sm-3">
                                         <div class="form-group">
                                            <label>Street Number</label>
                                            <input type="text" class="form-control" placeholder="242">
                                          </div>
                                    </div>
                                    <div class="col-sm-5 col-sm-offset-1">
                                         <div class="form-group">
                                            <label>City</label>
                                            <input type="text" class="form-control" placeholder="New York...">
                                          </div>
                                    </div>
                                    <div class="col-sm-5">
                                         <div class="form-group">
                                            <label>Country</label><br>
                                             <select name="country" class="form-control">
                                                <option value="Afghanistan"> Afghanistan </option>
                                                <option value="Albania"> Albania </option>
                                                <option value="Algeria"> Algeria </option>
                                                <option value="American Samoa"> American Samoa </option>
                                                <option value="Andorra"> Andorra </option>
                                                <option value="Angola"> Angola </option>
                                                <option value="Anguilla"> Anguilla </option>
                                                <option value="Antarctica"> Antarctica </option>
                                                <option value="...">...</option>
                                            </select>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wizard-footer height-wizard">
                            <div class="pull-right">
                                <input type='button' class='btn btn-next btn-fill btn-warning btn-wd btn-sm' name='next' value='Next' />
                                <input type='button' class='btn btn-finish btn-fill btn-warning btn-wd btn-sm' name='finish' value='Finish' />

                            </div>

                            <div class="pull-left">
                                <input type='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm' name='previous' value='Previous' />
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </form>
                </div>
            </div> <!-- wizard container -->
        </div>
        </div><!-- end row -->
    </div> <!--  big container -->
    <br><br>

    

</div>

<footer>
    <p>Travel-Hr Desing,Copyright &copy; 2019</p>
    <!-- Add font awesome icons -->
    <p>Follow Us!</p>
    <img src="../static/logofb.png">     
    <img src="../static/logoig.png"> 
    <img src="../static/logofb.png">     
    <img src="../static/logoig.png">       

</footer>
</body>

	<!--   Core JS Files   -->
	<script src="../static/js/jquery-2.2.4.min.js" type="text/javascript"></script>
	<script src="../static/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="../static/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>

	<!--  Plugin for the Wizard -->
	<script src="../static/js/gsdk-bootstrap-wizard.js"></script>

	<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
    <script src="../static/js/jquery.validate.min.js"></script>
    <script src="../static/main.js" type="text/javascript"></script>
    <script src="../static/caroufredsel.js"type="text/JavaScript"></script>
    

</html>
