<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Naziv:</p>
    <p>Name : {{ user.name }}</p>
    <p>Surname : {{ user.surname }}</p>
    <p>Email : {{ user.email }}</p>
</body>
</html>